<header>
    <a class="logo">Eleições 2020</a>
</header>
<div class="search_container">
  <form class="items_container">
      <input class="search_button" type="text" placeholder="Buscar Partido..." name="partido" [(ngModel)]="partido">
      <a href="#"><mat-icon class="icone_search">search</mat-icon></a>
  </form>
</div>

<div class="card_candidates">
  <div class="candidate-container candidate-situation-defined" *ngFor="let dados of dadosEleicoes | orderBy: order : true : false">
    <div class="img-rule">
      <div class="image-container">
         <circle-progress
    [percent]="dados.porcentagemVotos"
    [radius]="50"
    [outerStrokeColor]="'#2e48ff'"
    [innerStrokeColor]="'#4358ea'"
    [animation]="true"
    [animationDuration]="300"
    [outerStrokeWidth] = "5"
    [innerStrokeWidth] = "0"
    [imageWidth] = "imageWidth"

  >
</circle-progress>
        <img [src]="dados.imagem" alt="Bruno Covas"
        class="candidate-image">
      </div>
    </div>

    <div class="text-container">
      <span class="candidate-name"> {{ dados.nome }}</span>
      <span class="candidate-entourage">{{ dados.sigla }}</span>
      <div class="candidate-votes">

        <span [ngClass]="dados.qtdTotalVotos >= 500000 ? 'maisVotado' : 'menosVotado'" class="candidate-percentage-number">{{ dados.porcentagemVotos }}</span>
        <span [ngClass]="dados.qtdTotalVotos >= 500000 ? 'maisVotado' : 'menosVotado'" class="candidate-percentage">%</span>
        <span class="candidate-total-votes-number">{{ dados.qtdTotalVotos | number }}</span>

      </div>
    </div>

  </div>
</div>




<footer>
  <p>copyright &copy;2022 designed by Francisco Santana <p>
</footer>

